:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Text-Colors - Start */
.text-dd88cf {
  color: #dd88cf !important;
}

.text-4b164c {
  color: #4b164c !important;
}

.text-FFFFFFBD {
  color: #FFFFFFBD !important;
}

/* Text-Colors - End */

/* Background-Colors - Start */
.bg-4b164c {
  background-color: #4b164c !important;
}

.bg-fcf3fa {
  background-color: #fcf3fa !important;
}

.bg-faedf8 {
  background-color: #faedf8 !important;
}

.bg-dd88cf {
  background-color: #dd88cf !important;
}

/* Background-Colors - End */


/* Header - Start */
.header {
  .navbar-brand {
    width: 223px;
  }
}

/* Header - End */

/* Home-Page - Start */
.home-page {
  position: relative;
  z-index: 1;

  .home-banner {
    width: 100%;
    height: 85vh;
    background-image: url(../../public/images/bannerImg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    .header .navbar .nav-item .nav-link {
      color: #FFFFFF;
      display: inline-block;
      text-decoration: none;
    }

    .header .navbar .nav-item .nav-link::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #dd88cf;
      transition: width .3s;
    }

    .header .navbar .nav-item .nav-link:hover::after {
      width: 100%;
    }

    .header .navbar .nav-item .nav-link.active {
      width: 100%;
      color: #fcf3fa;
      font-weight: 600;
    }

    .header .navbar .nav-item .nav-link.active::after {
      width: 100%;
    }

    .banner-content {
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .banner-content h1 {
      font-size: 70px;
      font-weight: 700;
    }

    .banner-content h3 {
      font-size: 22px;
      font-weight: 600;
    }
  }

  .home-section2 {
    .bounceImg {
      display: inline-flex;
      animation: smoothBounce 3s ease-in-out infinite alternate;
    }
  }
}

@keyframes smoothBounce {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(15px);
  }
}

.home-section3 {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    cursor: grab;
  }

  .swiper-slide img {
    display: block;
    width: 288px !important;
    height: 380px;
    object-fit: cover;
  }

  .simple-text,
  .overlay-sim-text-2 {
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
  }

  .effect-image-1 {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .overlay-sim-text-2 p {
    text-align: center;
    color: #fff;
    padding: 20px 20px;
  }

  .overlay-sim-text-2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgb(75 22 76 / 75%);
    opacity: 0;
  }

  .simple-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: rgb(0 0 0 / 64%);
    color: #fff;
    border-top: 2px solid #dd88cf;
    padding: 5px;
  }

  .simple-text p {
    margin-bottom: 0px;
    padding: 2px 8px;
  }

  .effect-image-1:hover .overlay-xs-1 {
    opacity: 1;
    visibility: visible;
    display: block;
  }

  .effect-image-1:hover .simple-text {
    visibility: hidden;
    opacity: 0;
  }
}

.home-section4 {
  .cardFeature {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 60px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    margin-bottom: 30px;
  }

  .cardFeature:hover {
    transform: translateY(-8px);
    background-color: #4b164c !important;
    color: #fff;
  }
}

/* Home-Page - End */

/* Profile-Page - Start */
.profile-page {
  position: relative;
  z-index: 1;

  .home-banner {
    width: 100%;
    height: 40vh;
    background-image: url(../../public/images/bannerImg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    .header .navbar .nav-item .nav-link {
      color: #FFFFFF;
      display: inline-block;
      text-decoration: none;
    }

    .header .navbar .nav-item .nav-link::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #dd88cf;
      transition: width .3s;
    }

    .header .navbar .nav-item .nav-link:hover::after {
      width: 100%;
    }

    .header .navbar .nav-item .nav-link.active {
      width: 100%;
      color: #fcf3fa;
      font-weight: 600;
    }

    .header .navbar .nav-item .nav-link.active::after {
      width: 100%;
    }

    .banner-content {
      height: 30vh;
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .banner-content h1 {
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .banner-content h3 {
      font-size: 22px;
      font-weight: 500;
    }
  }

  .profileCard {
    background: #fff;
    padding: 0 0 20px 0;
    border-radius: 10px;
    box-shadow: 0px 8px 60px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .profileHeader {
    height: 260px;
    background: linear-gradient(100deg, #4b164c, #dd88cf, #4b164c);
    border-radius: 0 0 50% 50%;
    margin-top: -150px;
  }

  .profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -50px;
    border: 3px solid white;
    object-fit: cover;
  }

  .profileDetails {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 60px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .profileDetails .table tr td{
    vertical-align: middle;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #dd88cf;
    font-weight: 500;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    color: #4b164c;
    font-weight: 500;
  }
}

/* Profile-Page - End */

/* Masonry-Page - Start */
.masonryGallery {
  h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: #00A89D;
    text-align: center;
    font-weight: 800;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 0.8s ease forwards;
  }

  .gallery {
    columns: 3;
    column-gap: 1.5rem;
    width: 100%;
  }

  @media (max-width: 768px) {
    .gallery {
      columns: 2;
    }
  }

  @media (max-width: 480px) {
    .gallery {
      columns: 1;
    }
  }

  .galleryItem {
    break-inside: avoid;
    margin-bottom: 1.5rem;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    transform: translateY(20px);
    animation: fadeUp 0.8s ease forwards;
    animation-delay: calc(var(--delay) * 0.2s);
  }

  .galleryItem img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }

  .galleryItem:hover img {
    transform: scale(1.05);
  }

  .photo-credit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 0.8rem;
    opacity: 0.8;
    text-decoration: none;
  }

  .photo-credit:hover {
    opacity: 1;
  }

  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    background: #00A89D;
    z-index: 1000;
    transition: width 0.3s ease;
  }
}

/* Masonry-Page - End */

/* category-Page - Start */
.category-page {
  position: relative;
  z-index: 1;

  .home-banner {
    width: 100%;
    height: 40vh;
    background-image: url(../../public/images/bannerImg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    .header .navbar .nav-item .nav-link {
      color: #FFFFFF;
      display: inline-block;
      text-decoration: none;
    }

    .header .navbar .nav-item .nav-link::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #dd88cf;
      transition: width .3s;
    }

    .header .navbar .nav-item .nav-link:hover::after {
      width: 100%;
    }

    .header .navbar .nav-item .nav-link.active {
      width: 100%;
      color: #fcf3fa;
      font-weight: 600;
    }

    .header .navbar .nav-item .nav-link.active::after {
      width: 100%;
    }

    .banner-content {
      height: 30vh;
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .banner-content h1 {
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .banner-content h3 {
      font-size: 22px;
      font-weight: 500;
    }
  }


  .page-content {
    display: grid;
    gap: 1rem;
    padding: 1rem;
  }

  @media (min-width: 600px) {
    .page-content {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 800px) {
    .page-content {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 0;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: 600px) {
    .card {
      height: 480px;
    }
  }

  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: center;
    transition: transform 1s ease;
  }

  .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    transform: translateY(-50%);
    transition: transform 1.5s ease;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: transform 0.7s ease;
    z-index: 1;
  }

  .title {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .copy {
    font-size: 1.125rem;
    font-style: italic;
  }

  .page-content .btn {
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
  }

  .page-content .btn:hover {
    background-color: #222;
  }

  .card:hover::before {
    transform: translateY(-4%);
  }

  .card:hover .content {
    transform: translateY(0);
  }

  .card:hover .content>* {
    opacity: 1;
    transform: translateY(0);
  }

}

/* category-Page - End */

/* Login-Page - Start */
.login-page {
  .header .navbar .nav-item .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #dd88cf;
    transition: width .3s;
  }

  .header .navbar .nav-item .nav-link:hover::after {
    width: 100%;
  }

  .header .navbar .nav-item .nav-link.active {
    width: 100%;
    color: #dd88cf;
    font-weight: 600;
  }

  .header .navbar .nav-item .nav-link.active::after {
    width: 100%;
  }

  .login-content h1 {
    font-size: 80px;
  }
}

.login-page .fas {
  width: 32px;
}

.login-page .main-card {
  min-height: 90vh;
  background: linear-gradient(-45deg, #4b164c, #ff6ef8, #dd88cf, #4b164c);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.login-page section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  /* background: linear-gradient(-45deg, #4b164c, #ff6ef8, #dd88cf, #4b164c);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.box {
  position: relative;
}

.login-page .box .square {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  animation: square 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@keyframes square {

  0%,
  100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

.login-page .box .square:nth-child(1) {
  width: 100px;
  height: 100px;
  top: -15px;
  right: -45px;
}

.login-page .box .square:nth-child(2) {
  width: 150px;
  height: 150px;
  top: 105px;
  left: -125px;
  z-index: 2;
}

.login-page .box .square:nth-child(3) {
  width: 60px;
  height: 60px;
  bottom: 85px;
  right: -45px;
  z-index: 2;
}

.login-page .box .square:nth-child(4) {
  width: 50px;
  height: 50px;
  bottom: 35px;
  left: -95px;
}

.login-page .box .square:nth-child(5) {
  width: 50px;
  height: 50px;
  top: -15px;
  left: -25px;
}

.login-page .box .square:nth-child(6) {
  width: 85px;
  height: 85px;
  top: 165px;
  right: -155px;
  z-index: 2;
}

.login-page .card-container {
  position: relative;
  padding: 50px;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}

.login-page .card-container::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 5px;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%);
}

.login-page .form {
  position: relative;
  width: 100%;
  height: 100%;

  h2 {
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }

  .inputBx {
    position: relative;
    width: 100%;
    margin-bottom: 20px;

    input {
      width: 100%;
      outline: none;
      border: none;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.2);
      padding: 8px 10px;
      border-radius: 15px;
      color: #fff;
      font-size: 16px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    }

    .password-control {
      position: absolute;
      top: 11px;
      right: 10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
      transition: 0.5s;
    }

    .view {
      background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
      transition: 0.5s;
    }

    .fas {
      position: absolute;
      top: 13px;
      left: 13px;
    }

    input[type="submit"] {
      background: #fff;
      color: #111;
      max-width: 100px;
      padding: 8px 10px;
      box-shadow: none;
      letter-spacing: 1px;
      cursor: pointer;
      transition: 1.5s;
    }

    input[type="submit"]:hover {
      background: linear-gradient(115deg,
          rgba(0, 0, 0, 0.10),
          rgba(255, 255, 255, 0.25));
      color: #fff;
      transition: .5s;
    }

    input::placeholder {
      color: #fff;
    }
  }

  p {
    color: #fff;
    font-size: 15px;
    margin-top: 5px;

    a,
    span {
      color: #fff;
      text-decoration: underline;
      cursor: pointer;
    }

    a:hover,
    span:hover {
      color: #4b164c;
    }
  }
}

.remember {
  position: relative;
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Login-Page - End */

/* AdPost-Page - Start */
.adPost-page {
  position: relative;
  z-index: 1;

  .home-banner {
    width: 100%;
    height: 40vh;
    background-image: url(../../public/images/bannerImg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    .header .navbar .nav-item .nav-link {
      color: #FFFFFF;
      display: inline-block;
      text-decoration: none;
    }

    .header .navbar .nav-item .nav-link::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #dd88cf;
      transition: width .3s;
    }

    .header .navbar .nav-item .nav-link:hover::after {
      width: 100%;
    }

    .header .navbar .nav-item .nav-link.active {
      width: 100%;
      color: #fcf3fa;
      font-weight: 600;
    }

    .header .navbar .nav-item .nav-link.active::after {
      width: 100%;
    }

    .banner-content {
      height: 30vh;
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .banner-content h1 {
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .banner-content h3 {
      font-size: 22px;
      font-weight: 500;
    }
  }

  .w-100{
    width: 100% !important;
  }

  .form-container {
    background: #faedf8;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .form-container:hover {
    transform: scale(1.02);
  }

  .form-label {
    font-weight: bold;
    color: #4b164c;
  }

  .form-control,
  .form-select {
    border: 2px solid #dd88cf;
    border-radius: 5px;
  }

  .form-control:focus,
  .form-select:focus {
    border-color: #dd88cf;
    box-shadow: 0 0 5px #dd88cf;
  }

  .btn-custom {
    background: #dd88cf;
    color: white;
    font-weight: bold;
    transition: background 0.3s;
  }

  .btn-custom:hover {
    background: #dd88cf;
    color: #fff;
  }

  .image-upload-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .image-upload {
    position: relative;
    width: 80px;
    height: 80px;
    border: 2px dashed #dd88cf;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
  }

  .image-upload img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: none; */
  }

  .image-upload input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .stepper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 0;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
  }

  .step.active:not(:last-child)::after {
    background-color: #dd88cf;
  }

  .step-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    background-color: #ddd;
    color: #000;
    border: 3px solid transparent;
  }

  .step.active .step-circle {
    background-color: #dd88cf;
    color: #fff;
    border-color: #dd88cf;
    box-shadow: 0 0 10px rgba(106, 13, 173, 0.5);
    transform: scale(1.2);
  }

  .step-label {
    margin-top: 8px;
    font-size: 1rem;
    font-weight: 500;
    color: #aaa;
    transition: color 0.3s ease-in-out;
  }

  .step.active .step-label {
    color: #dd88cf;
    font-weight: bold;
  }
}

/* AdPost-Page - End */

/* Footer - Start */
.footer {
  .searchCitySection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .searchCitySection .cityBadge {
    background-color: #dd88cf;
    color: #ffffff;
    font-weight: 500;
    border-radius: 12px;
    padding: 10px 20px;
  }

  .footer-logo {
    width: 250px;
    margin-bottom: 20px;
  }
}

/* Footer - End */